{% extends "base.html" %}


{% block title %}login{% endblock %}

{% block content %}
  <h1>Log-in</h1>
  {% if report %}
    <h3>{{ report.value }}</h3>
  {% endif %}
  <p>Please, use the following form to log-in.</p>
  <form method="post">
    {% csrf_token %}
    {{ login_form.as_p }}
    <p><input type="submit" value="log in"></p>
  </form>
{% endblock %}
