{% extends "base.html" %}


{% block title %}logged out{% endblock %}

{% block content %}
  <h1>Logged out</h1>
  <p>
    You have been successfully logged out.
    You can <a href="{% url "login" %}">log-in again</a>
  </p>
{% endblock %}
