{% extends "base.html" %}


{% block title %}login{% endblock %}

{% block content %}
  <h1>Log-in</h1>
  {% if form.errors %}
    <p>
      Your username or password didn't match.
      Please try again.
    </p>
  {% else %}
    <p>
      Please use the following form to log-in:
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url "login" %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="log-in"></p>
    </form>
    <p>
      <a href="{% url "password_reset" %}">
        Are you forgot your password?
      </a>
    </p>
  </div>
{% endblock %}
