{% extends "base.html" %}


{% block title %}password reset{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
  <p>
    We've emailed your instructions for setting your password
  </p>
  <p>
    If you don't resive an email,
    please make sure you've entered
    the address you registered with.
  </p>
{% endblock %}
