{% extends "base.html" %}


{% block title %}reset password{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>
    Enter your e-mail addres to form
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Send email"></p>
  </form>
{% endblock %}
