{% extends "base.html" %}


{% block title %}reset your password{% endblock %}

{% block content %}
  <h1>Reset your password</h1>
  {% if validlink %}
    <p>
      Please enter your new password twice:
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Save password"></p>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because
      it has already been used.
    </p>
    <p>
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
 
