{% extends "base.html" %}


{% block title %}change password{% endblock %}

{% block content %}
  <h1>Password changing</h1>
  <p>
    Use the form below to change your password
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Change"></p>
  </form>
{% endblock %}
