{% extends "base.html" %}


{% block title %}password reseted{% endblock %}

{% block content %}
  <h1>Password set</h1>
  <p>Your password has been set.</p>
  <p>You can <a href="{% url "login" %}">login now</a></p>
{% endblock %}
