{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <span class="logo">Bookmarks</span>
      {% if request.user.is_authenticated %}
        <ul class="menu">
          <li {% if section == "dashboard" %} class="selected" {% endif %}>
            <a href="{% url "dashboard" %}">My dashboard</a>
          </li>
          <li {% if section == "images" %} class="selected" {% endif %}>
            <a href="#">Images</a>
          </li>
          <li {% if section == "people" %} class="selected" {% endif %}>
            <a href="#">People</a>
          </li>
        </ul>
      {% endif %}
      <span class="user">
        {% if request.user.is_authenticated %}
          Hello {{ request.user.first_name|default:request.user.username }},
          <a href="{% url "logout" %}">logout</a>
        {% else %}
          <a href="{% url "login" %}">login</a>
        {% endif %}
        <a href="{% url "register" %}">register</a>
      </span>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
