{% extends "base.html" %}


{% block title %}registration{% endblock %}

{% block content %}
  <h1>Create an account</h1>
  <p>Please user this form to sign up:</p>
  <form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <p><input type="submit" value="Create an account"></p>
  </form>
{% endblock %}
