{% extends "base.html" %}


{% block title %}done{% endblock %}

{% block content %}
  <h1>Welcome {{ new_user.first_name }}!</h1>
  <p>
    Your account has been successfully created.
    You can <a href="{% url "login" %}">login now</a>
  </p>
{% endblock %}
